* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

p {
  text-align: center;
  font-size: 25px;
  color: darkred;
}

span {
  color: black;
}
