* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins Regular;
}

button {
  font-family: Poppins Light;
  font-weight: 600;

  border: 1.5px solid #263238;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.2s;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 40px 110px;
  position: absolute;
  z-index: 1;
  top: 0;
}

.logo {
  font-family: Poppins Light;
  font-size: 25px;

  cursor: pointer;
}

.logo span {
  color: #939393;
}

.nav {
  display: flex;
  gap: 35px;

  font-size: 15px;
  font-weight: 600;
}

.nav a {
  color: #263238;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.button1 {
  font-size: 18px;

  padding: 10px 46px;

  background-color: #ffffff;
}

.button1:hover {
  color: #ffffff;
  background-color: #263238;
}

/* Header */

/*/

/* Intro */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 100%;
  padding: 110px 110px;
}

.info__minibox {
  display: flex;
  align-items: center;
  flex-direction: row;

  width: 460px;
}

.minibox__title {
  font-family: Poppins Medium;
  font-size: 50px;
  font-weight: 600;
  line-height: 65px;

  margin-bottom: 40px;
}

.minibox__img img {
  width: 100px;
  height: 100px;

  margin-top: 30px;
  margin-right: 40px;
}

.info__text {
  font-family: Poppins Light;
  font-size: 18px;
  line-height: 30px;

  color: #8f95a5;

  margin-bottom: 70px;
  margin-right: 230px;
}

.button2 {
  font-size: 25px;
  color: #f5f5f5;
  background-color: #263238;

  padding: 20px 100px;
}

.button2:hover {
  color: #000000;
  background-color: #ffffff;
}

.intro__img img {
  width: 581px;
  height: 581px;
}

/* Intro */

/*/

/* Block 2 */

.block2__title {
  display: flex;
  justify-content: center;

  font-family: Poppins Medium;
  font-size: 30px;
  font-weight: 600;
}

.block2__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding: 60px 110px;
  gap: 15px;
}

.box__left {
  display: flex;
  flex-direction: column;

  height: 750px;
  width: 395px;

  padding: 30px 40px 0 40px;

  background-color: #f5f5f5;
  border-radius: 10px;
}

.right__up {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 15px;
  gap: 15px;
}

.up__left {
  height: 470px;
  width: 400px;

  padding: 0 40px;

  background-color: #f5f5f5;
  border-radius: 10px;
}

.up__right {
  height: 470px;
  width: 400px;

  padding: 15px 40px 25px 40px;

  background-color: #f5f5f5;
  border-radius: 10px;
}

.right__down {
  display: flex;
  align-items: center;
  flex-direction: row;

  height: 265px;

  padding: 0 40px;

  background-color: #f5f5f5;
  border-radius: 10px;
}

.down__box {
  display: flex;
  flex-direction: column;

  margin-right: 100px;
}

.box__img1 img {
  width: 306px;
  height: 306px;

  margin-bottom: 10px;
}

.box__img2 img {
  width: 213px;
  height: 213px;

  margin-left: 100px;
}

.box__img3 img {
  width: 80%;

  margin-bottom: 25px;
}

.box__img4 img {
  width: 332px;
  height: 205px;
}

.box__title {
  font-family: Poppins Medium;
  font-size: 25px;
  font-weight: 400;

  margin-bottom: 15px;
}

.box__text {
  font-family: Poppins Light;
  font-size: 15px;
  line-height: 20px;

  color: #8f95a5;

  width: 300px;

  margin-bottom: 25px;
}

.button3 {
  font-size: 15px;
  color: #ffffff;

  padding: 10px 50px;

  background-color: #263238;
}

.button3:hover {
  color: #000000;
  background-color: #ffffff;
}

/* Block 2 */

/*/

/* Info */

.info__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding: 100px 110px 140px 110px;
}

.item__title {
  font-family: Poppins Medium;
  font-size: 30px;
  font-weight: 600;

  margin-bottom: 25px;
}

.item__text {
  font-family: Poppins Light;
  font-size: 15px;
  line-height: 25px;

  color: #8f95a5;

  padding: 0 345px 0 0;

  margin-bottom: 50px;
}

.item__numbers {
  display: flex;
  align-items: center;

  gap: 110px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.digit {
  font-family: Poppins Medium;
  font-size: 30px;
  font-weight: 600;
}

.digit:hover {
  text-decoration: underline;
}

.number__text {
  font-size: 12px;
  color: #8f95a5;
}

.box__imginfo img {
  width: 400px;
  height: 400px;
}

/* Info */

/*/

/* Pricing */

.block4__title {
  display: flex;
  justify-content: center;

  font-family: Poppins Medium;
  font-size: 30px;
  font-weight: 600;
}

.block4__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  gap: 105px;
  padding: 40px 110px;
}

.price__title {
  font-family: Poppins Medium;
  font-size: 20px;
  font-weight: 600;

  margin-bottom: 15px;
}

.box1 .price__title {
  margin-top: 50px;
}

.box2 .price__title {
  margin-top: 50px;
}

.box3 .price__title {
  margin-top: 55px;
}

.price__text {
  font-family: Poppins Light;
  font-size: 15px;
  line-height: 25px;
  color: #8f95a5;
}

.box1 .price__text {
  width: 330px;

  margin-bottom: 20px;
}

.box2 .price__text {
  padding: 0 50px 0 0;

  margin-bottom: 45px;
}

.box3 .price__text {
  padding: 0 50px 0 0;

  margin-bottom: 45px;
}

.price {
  font-size: 20px;

  padding: 0.5px 25px;

  border: 1px solid #eeeeee;
}

.price span {
  font-size: 10px;
  color: #546269;
}

.price__img1 img {
  width: 231px;
  height: 231px;
}

.price__img1,
.price__img2,
.price__img3 {
  height: 230px;
}

.price__img2 img {
  width: 336px;
  height: 207px;

  padding-top: 20px;
}

.price__img3 img {
  width: 270px;
  height: 236px;

  padding-top: 10px;
}

/* Pricing */

/*/

/* Contact */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 130px 110px;
  gap: 150px;
}

.contact__img img {
  width: 406px;
  height: 356px;
}

.info__title {
  font-family: Poppins Medium;
  font-size: 30px;
  font-weight: 600;

  margin-bottom: 30px;
}

.info__conttext {
  font-family: Poppins Light;
  font-size: 14px;
  color: #8f95a5;

  padding: 0 140px 0 0;
  margin-bottom: 30px;
}

.emailbox {
  display: flex;
  gap: 8px;
}

.email {
  font-family: Poppins Light;
  font-size: 10px;

  padding: 18px 170px 18px 25px;

  color: #8f95a5;
  border: 1px solid #8f95a5;
  border-radius: 8px;
}

.subscribe {
  font-family: Poppins Regular;
  font-size: 14px;

  padding: 15px 55px;

  color: #f5f5f5;
  background-color: #263238;

  border: 1px solid #263238;
  border-radius: 8px;
  cursor: pointer;
}

/* Contact */

/*/

/* Footer */

hr {
  padding: 0 110px;
  border: 0.5px solid #c4c4c4;
}

.end {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 110px;
}

.end__text {
  font-family: Poppins Light;
  font-size: 15px;
  color: #8f95a5;
}

/* Footer */

/*/

/* Media 992px */

@media (max-width: 992px) {
  body {
    font-family: Poppins Regular;
  }

  /* Header */

  header {
    padding: 25px 30px;
  }

  .logo {
    font-size: 22px;
  }

  .nav {
    font-size: 12px;

    padding-left: 110px;
    gap: 25px;
  }

  .button1 {
    font-size: 15px;

    padding: 8px 35px;
  }
  /* Header */

  /*/

  /* Intro */

  .intro {
    padding: 105px 30px 0 30px;
  }

  .info__minibox {
    width: 400px;
  }

  .minibox__title {
    font-size: 40px;
    line-height: 60px;

    margin-bottom: 20px;
  }

  .minibox__img img {
    width: 80px;
    height: 80px;

    margin-top: 55px;
    margin-right: 65px;
  }

  .info__text {
    font-size: 18px;
    line-height: 25px;

    margin-bottom: 30px;
    margin-right: 110px;
  }

  .button2 {
    font-size: 20px;

    padding: 17px 70px;
  }

  .intro__img img {
    width: 441px;
    height: 441px;
  }

  /* Intro */

  /*/

  /* Block 2 */

  .block2__title {
    font-size: 30px;

    padding-top: 50px;
  }

  .block2__box {
    padding: 55px 30px;
    gap: 12px;
  }

  .box__left {
    height: 630px;
    width: 310px;

    padding: 0 35px 0 35px;
  }

  .right__up {
    gap: 12px;
  }

  .up__left {
    height: 385px;
    width: 310px;

    padding: 0 35px 0 35px;
  }

  .up__right {
    height: 385px;
    width: 310px;

    padding: 0 35px 0 35px;
  }

  .right__down {
    height: 230px;

    padding: 0 35px 0 35px;
  }

  .down__box {
    margin-right: 50px;
  }

  .box__img1 img {
    width: 220px;
    height: 220px;

    margin-top: 20px;
    margin-bottom: 25px;
  }

  .box__img2 img {
    width: 183px;
    height: 183px;

    margin-left: 60px;
  }

  .box__img3 img {
    width: 242px;
    height: 157px;
  }

  .box__img4 img {
    width: 292px;
    height: 165px;
  }

  .box__title {
    font-size: 20px;
    font-weight: 600;

    margin-bottom: 10px;
  }

  .box__text {
    font-size: 12px;
    line-height: 18px;

    width: 220px;

    margin-bottom: 15px;
  }

  .button3 {
    font-size: 14px;

    padding: 10px 40px;
  }
  /* Block 2 */

  /*/

  /* Info */

  .info__box {
    padding: 30px 30px 80px 30px;
  }

  .item__title {
    font-size: 28px;
    font-weight: 600;
  }

  .item__text {
    font-size: 14px;
    line-height: 20px;

    padding: 0 180px 0 0;

    margin-bottom: 25px;
  }

  .item__numbers {
    gap: 50px;
  }

  .digit {
    font-size: 25px;
  }

  .number__text {
    font-size: 13px;
  }

  .box__imginfo img {
    width: 300px;
    height: 300px;
  }

  /* Info */

  /* Pricing */

  .block4__title {
    font-size: 30px;
    font-weight: 600;
  }

  .block4__box {
    padding: 10px 30px;
    gap: 50px;
  }

  .price__title {
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 10px;
  }

  .box2 .price__title {
    margin-top: 5px;
    margin-left: 20px;
  }

  .box3 .price__title {
    margin-left: 20px;
  }

  .price__text {
    font-size: 14px;
    line-height: 22px;
  }

  .box1 .price__text {
    width: 230px;
  }

  .box2 .price__text {
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .box3 .price__text {
    margin-left: 20px;
  }

  .price {
    font-size: 18px;

    padding: 1px 18px;
  }

  .box2 .price {
    margin-left: 20px;
  }

  .box3 .price {
    margin-left: 20px;
  }

  .price__img1, .price__img2, .price__img3{
    height: 180px;
  }

  .price__img1 img {
    width: 181px;
    height: 181px;
  }

  .price__img2 img {
    width: 306px;
    height: 177px;
  }

  .price__img3 img {
    width: 245px;
    height: 211px;
  }

  /* Pricing */

  /* Contact */

  .contact {
    padding: 100px 30px;
  }

  .contact__img img {
    width: 306px;
    height: 256px;
  }

  .info__title {
    font-size: 25px;

    margin-bottom: 15px;
  }

  .info__conttext {
    font-size: 12px;
    line-height: 20px;

    margin-bottom: 25px;
  }

  .email {
    font-size: 10px;
    padding: 12px 120px 12px 35px;

    border-radius: 10px;
  }

  .subscribe {
    font-size: 12px;
    padding: 12px 40px;

    border-radius: 10px;
  }

  .end {
    padding: 20px 30px;
  }

  .end__text {
    font-size: 12px;
  }

  /* Contact */
}

/* Media 992px */
