* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto Regular;
  font-weight: 400;

  height: 2000px;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

button,
input {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;

  width: 100vw;
  padding: 30px 50px;
  position: absolute;
  top: 0;

  background: transparent;
}

.navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 10000;
}

.navlinks {
  display: flex;
  align-items: center;
  margin-right: 80px;
  gap: 42px;
  font-size: 15px;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  position: relative;
  width: 100%;
  height: 700px;
  padding-top: 300px;

  background: url(../img/introBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__title {
  max-width: 700px;
  width: 100%;

  color: #fff;
  text-align: center;
  font-size: 54px;
}

.intro__btn {
  padding: 12px 18px;

  color: #fff;
  background-color: #0c4a34;
  border-radius: 3px;
  border: none;
  outline: none;
}

.intro__help {
  color: #fff;
}

.intro__help span {
  margin-left: 10px;

  border-bottom: 1px solid #fff;

  transition: 0.2s;
}

.intro__help span i {
  margin-left: 10px;
  transition: 0.2s;
}

.intro__help span:hover i {
  transform: translateX(20px);
}

.intro__help span:hover {
  padding-bottom: 5px;
}

.intro__signUp {
  position: absolute;
  right: 35px;
  bottom: 45px;

  padding: 30px 20px;
  width: 290px;
  height: 190px;
  z-index: 200;

  background: #497557;
  color: #fff;
  border-radius: 2px;
}

.signUp__title,
.signUp__text {
  margin-bottom: 13px;
}

.signUp__btn {
  padding: 13px 18px;

  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
}

/* Intro */

/* Partner */

.partner {
  width: 100%;

  border-bottom: 1px solid #f0efec;
}

.partner__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 30px;
}

.partner__text {
  width: 167px;
  line-height: 1.5;
  color: #5b5855;
}

.partner__logo {
}

/* Partner */

/* Why */

.why {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.why__img{
 width: 80%;
}

.why__suptitle {
  margin-bottom: 15px;

  letter-spacing: 1px;
  text-transform: uppercase;
  color: #497557;
}

.why__title {
  margin-bottom: 15px;

  font-size: 38px;
  width: 330px;
  color: #02291c;
}

.why__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.why__item {
  width: 400px;
  height: 65px;
  padding: 20px;

  position: relative;

  background-color: #f9f9f7;
  border-radius: 2px;

  transition: 0.2s;
}

.why__item img,
.why__item p {
  display: inline-block;
}

.why__item:hover {
  height: 150px;

  background-color: #dce3dd;
}

.item__content {
  position: absolute;
  width: 308px;
  bottom: 30px;
  padding-left: 20px;

  color: #5b5855;
  opacity: 0;
}

.why__item:hover .item__content {
  opacity: 1;
  transition-delay: 0.2s;
}

/* Why */
